time.pickle
importance.pickle
Name.pickle
만들어야할것.txt
__pycache__/FuncAdd.cpython-38.pyc
__pycache__/
pickle/bg.pickle
.gitignore
pickle/FG.pickle
pickle/UC.pickle
pickle/time1.pickle
pickle/IC.pickle
10423SIRI차상국.zip
